
*.ini
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/CollectionsUnsafeUtilityPostProcessor.cs
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/CollectionsUnsafeUtilityPostProcessor.cs.meta
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport/Unity.Collections.LowLevel.ILSupport.asmdef.meta
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport/Unity.Collections.LowLevel.ILSupport.asmdef
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef.meta
Code/2D Платформер/Library/PackageCache/com.unity.collections@1.2.4/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef
Code/2D Платформер/Library/PackageCache/com.unity.burst@1.8.3/.Runtime/libburst-llvm-14.dylib
